@font-face {
  font-family: 'Miguer';
  src: url('miguersansregular-g3nqa.otf');
}
body{
    font-family: Miguer;
    margin: 0;
    padding: 60px;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #000000;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: grayscale(.7) opacity(.7);
}
.logo{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 60px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 8px;
}
.search-container select {
    appearance: none;
    padding: 7px 9px;
    text-align-last: center;
    background-color: #00000000;
     color: #ffffff43;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0 12px 12px 0 ;
    cursor: pointer;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    transition: .2s ease-out;
}
.search-container select:hover{
    border-color: rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.13);
    color: white;
}
input[type="text"]{
    font-family: Miguer;
    width: 400px;
    padding: 7px 27px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 12px 0 0 12px;
    text-align: center;
    color: white;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: .2s ease-out;
    font-size: 14px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
input:hover{
    border-color: rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.13);

}
input::placeholder{
    color: #ffffff43;
}
.filter-buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.filter-btn{
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.15);
    padding: 7px 27px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: .2s ease-out;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.filter-btn.active{
    background: #007bffdc;
    color: rgb(255, 255, 255);
    border-color: #0056b3;
}
.items-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px;
    margin-top: 90px;
    margin-bottom: 70px;
    perspective: 1000px;
}
.item-card{
    font-family: Miguer;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    cursor:pointer;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: .2s ease-out;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.item-card:hover{
    border-color: rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.13);
}
.item-card:active{
    background-color: #ffffffb0;
}
.item-card h3{
    font-size: 16px;
    color: white;
}
.item-card p{
    color: #666;
    font-size: 14px;
}
.model-handler{
    width: 200px;
    height: 200px;
    background-color: #ffffff0d;
}
.copyright{
    color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}
.copy{
    font-family: Miguer;
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: .3s ease-out;
}
.copy:hover{
    color: rgba(255, 255, 255, 0.5);
}
