.range-controllers {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: 340px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}

.range-controllers input[type="range"] {
  width: 93%;
}

.range-controllers .controller-info {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
  width: 50%;
  padding-left: 30px;
}

.range-controllers .reset-button {
  margin-top: 25px;
}