.greeting {
    margin: auto;
    padding: 30px;
}

.container {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    padding: 40px;
    margin: auto;
    width: 270px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-title {
    text-align: left;
}

.container-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}