.guide {

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    backdrop-filter:  blur(50px);
    background-color: rgba(0, 0, 0, 0.2);
    width: fit-content;
}

.container-content {
    display: flex;
    margin: 15px;
}

.view-box {
    height: 370px;
    width: 370px;
    margin: 15px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
}

.view-box div {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    filter: blur(50px);
}

.view-box .circle1 {
    top: -50px;
    left: -60px;
    background-color: #61a9f6;
}

.view-box .circle2 {
    bottom: 30px;
    right: -120px;
    background-color: #c45050;
}

.view-box .circle3 {
    bottom: -190px;
    left: 0;
    background-color: #50c45c;
}

.controls {
    display: flex;
    flex-direction: row;
    
    div {
        background-color: rgba(255, 255, 255, 0.05);
        margin: 15px;
        padding: 25px;
    }
}

input[type="color"] {
    width: 100%;
    height: 60px;
    cursor: pointer;
    background-color: transparent;
}

input[type="range"] {
    cursor: pointer;
    writing-mode: vertical-lr;
    height: inherit;
}

select {
    background-color: rgba(255, 255, 255, 0.04);
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
}

label {
    display: block;
    margin-top: 10px;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

.noise-params {
    display: flex;
    flex-direction: column;

    .params-range-inputs {
        display: flex;
        label {
            writing-mode: vertical-rl;
        }   
    }
}

.gen-button {
    margin-top: 20px;
}

.gradient-params {
    display: flex;
    flex-direction: row;

    label {
        writing-mode: vertical-rl;
    }
}