.range-controllers {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22%;
  padding: 30px;
  background-color: rgba(157, 157, 157, 0.1);
  backdrop-filter: blur(60px);
}

.range-controllers input[type="range"] {
  width: 95%;
}

.range-controllers .controller-info {
  padding-top: 20px;
  padding-bottom: 10px;
}

.range-controllers .reset-button {
  margin-top: 25px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.03);
  border: none;
  color: white;
  cursor: pointer;
  transition: 250ms;
}

.range-controllers .reset-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.range-controllers .reset-button:active {
  transition: 35ms;
  background-color: rgba(255, 255, 255, .45);
}