@font-face {
  font-family: 'Miguer';
  src: url('/resourses/fonts/miguersansregular-g3nqa.otf');
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  font-family: Miguer;
  color: white;
  text-align: center;
  background: black;
}

.gradient-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: hue-rotate(50deg) opacity(.2);
}

.error-code, 
.title:hover {
  .dots {
    animation: blink 1s infinite;
  }
}

.link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  
  background: 
    linear-gradient(to right, rgb(62, 62, 62)),
    linear-gradient(to right, rgb(255, 255, 255));
  background-size: 100% 0.05em, 0 0.05em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: 250ms;
}

.link:hover {
  color: rgba(255, 255, 255, 0.3);
  background-size: 0 0.05em, 100% 0.05em;
}