@font-face {
  font-family: 'Miguer';
  src: url('/resourses/fonts/miguersansregular-g3nqa.otf');
}

body {
  font-family: Miguer;
  color: white;
  text-align: center;
  background: black;
}

.gradient-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: hue-rotate(50deg) opacity(.2);
}

.title:hover {
  .dots {
    animation: blink 1s infinite;
  }
}

.range-controllers {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22%;
  padding: 30px;
  background-color: rgba(157, 157, 157, 0.1);
  backdrop-filter: blur(60px);
}

.range-controllers input[type="range"] {
  width: 95%;
}

.range-controllers .controller-info {
  padding-top: 20px;
  padding-bottom: 10px;
}

.range-controllers .reset-button {
  margin-top: 25px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.03);
  border: none;
  color: white;
  cursor: pointer;
  transition: 250ms;
}

.range-controllers .reset-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.range-controllers .reset-button:active {
  transition: 35ms;
  background-color: rgba(255, 255, 255, .45);
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  
  background: 
    linear-gradient(to right, rgb(62, 62, 62)),
    linear-gradient(to right, rgb(255, 255, 255));
  background-size: 100% 0.05em, 0 0.05em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: 250ms;
}

a:hover,
a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-size: 0 0.05em, 100% 0.05em;
}